.questions__btn {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  font-family: sans-serif;
  cursor: pointer;

  display: inline-block;
  position: relative;
  transition: 0.5s;
  display: block;
  min-width: 10rem;
  display: inline-block;
  position: relative;
  transition: 0.5s;

  &:hover {
    padding-right: 45px;
    opacity: 1;
    right: 0;
  }
}
