.questionnaire__title {
  text-align: center;
  &.questionnaire__title--primary {
    font-size: 2rem;
    border: 0.0625rem solid grey;
    color: grey;
  }
  &.questionnaire__title--secondary {
    font-size: 2rem;
    border: 1px solid purple;
    color: grey;
  }
  &.questionnaire__title--third {
    font-size: 20px;
    border: 0.1625rem solid rgb(12, 12, 63);
    color: grey;
  }
}
