.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: $color-background;
  color: $color-text;
  box-sizing: border-box;
  @media screen and (max-width: 38.75rem) {
    flex-wrap: wrap;
  }
  .nav__item {
    margin: 0.5rem 0.5rem;
    cursor: pointer;
    transition: color 200ms ease;
    @media screen and (max-width: 38.75rem) {
      width: 100%;
    }
    &.active,
    &:hover {
      color: $color-active;
      opacity: 0.5;
    }
    &:active,
    &:visited,
    &:focus {
    }
  }
}
