html,
body {
  font-size: 16px;
}

@import "./libraries/normalize";
@import "./variables/variables";
@import "./layout/layout";

@import "./components/headline.scss";
@import "./components/navigation.scss";
@import "./components/fonts.scss";
@import "./components/questions.scss";
@import "./components/buttons.scss";

.questions {
  display: none;
  &.active {
    display: block;
  }
}
